<p>
  login works!
</p>
<form>
  <!--<form class="example-form">-->
  <mat-form-field class="example-full-width">
    <input [(ngModel)]="authToken.accessKey" matInput placeholder="Access key" value="Sushi"
           [ngModelOptions]="{standalone: true}">
    <!--<input [(ngModel)]="accessKey" placeholder="name">-->
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Secret key"></textarea>
  </mat-form-field>
  <button mat-stroked-button color="primary" (click)="save()">Save</button>
</form>
